{% extends 'root.html' %}

{% block body %}
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center g-0">
					<div class="col-lg-5 col-md-5 col-12">						
						<div class="bg-white rounded10 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h2 class="mb-10 fw-600 text-primary">Reset Your Password ?</h2>
								<p class="mb-0 text-fade">Enter new password.</p>
							</div>
							<div class="p-40">
								<form method="post">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="helptext" id="{{ form.new_password1.auto_id }}_helptext">
										   {{ form.new_password1.help_text|safe }}
										   </div>
											<span class="input-group-text bg-transparent"><i class="text-fade ti-lock"></i></span>
											{{form.new_password1}}
										</div>
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="text-fade ti-lock"></i></span>
											{{form.new_password2}}
										</div>
									</div>
									  <div class="row">
										<div class="col-12 text-center">
										  <button type="submit" class="btn btn-primary w-p100 mt-10">Reset</button>
										</div>
									  </div>
								</form>	
								<div class="text-center">
									<p class="mt-15 mb-0 text-fade">Back to Sign in? <a href="{% url 'auth:login' %}" class="text-primary ms-5">Sign In</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>


{% endblock body %}
    