{% load static %}
<aside class="control-sidebar">
  <div class="rpanel-title">
    <span
      class="pull-right btn btn-circle btn-danger"
      data-toggle="control-sidebar"
      ><i class="ion ion-close text-white"></i
    ></span>
  </div>
  <!-- Create the tabs -->
  <ul class="nav nav-tabs control-sidebar-tabs">
    <li class="nav-item">
      <a href="#control-sidebar-home-tab" data-bs-toggle="tab"
      >
    </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane" id="control-sidebar-home-tab">
        
    </div>
  </div>
</aside>
