<footer class="main-footer">
  <div class="pull-right d-none d-sm-inline-block">
    <ul
      class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://preview.themeforest.net/item/investx-investment-portfolio-admin-dashboardtemplate/full_screen_preview/35421349?_ga=2.228322970.606548471.1654681866-424681648.1636358172"
          target="_blank"
          >Purchase Now</a
        >
      </li>
    </ul>
  </div>
  &copy;
  <script>
    document.write(new Date().getFullYear());
  </script>
  <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All
  Rights Reserved.
</footer>
