<aside class="main-sidebar">
  <section class="sidebar position-relative">
    <div class="multinav">
      <div class="multinav-scroll" style="height: 97%">
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href="#">
              <i data-feather="home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i data-feather="award"></i>
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i data-feather="paperclip"></i>
              <span>Questionnaire</span>
            </a>
          </li>

          <li>
            <a href="extra_profile.html">
              <i data-feather="wind"></i>
              <span>Charts and Data</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i data-feather="disc"></i>
              <span>Record Details</span>
            </a>
          </li>
          <li>
            <a href="setting.html">
              <i data-feather="tag"></i>
              <span>FAQs</span>
            </a>
          </li>
          <li>
            <a href="setting.html">
              <i data-feather="voicemail"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>

        <!-- <div class="sidebar-widgets">
          <div class="mx-25 mb-30 pb-20 side-bx bg-primary-light rounded20">
            <div class="text-center">
              <img
                src="https://investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/images/svg-icon/color-svg/custom-32.svg"
                class="sideimg p-5"
                alt=""
              />
              <h4 class="title-bx text-primary">Best Invest Portal</h4>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</aside>
