<aside class="main-sidebar">
  <section class="sidebar position-relative">
    <div class="multinav">
      <div class="multinav-scroll" style="height: 97%">
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a 
                onclick="navigateToUrl(this)"
                data-url="{% url 'home' %}"
                href="javascript:void(0);"
            >
              <i data-feather="home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a 
                onclick="navigateToUrl(this)"
                data-url="{% url 'auth:profile' %}"
                href="javascript:void(0);"
            >
              <i data-feather="user"></i>
              <span>Me</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</aside>
