{% extends 'base.html' %}


{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-xl-8">
                            </div>
                            <div class="col-xl-4">
                                <div class="text-xl-end mt-xl-0 mt-2">
                                    <button type="button" class="btn btn-primary mb-2 me-2" data-bs-toggle="modal" data-bs-target="#videoModal" onclick="openModal()"><i class="mdi mdi-plus me-1"></i> Add New Video</button>

                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered mb-0">
                                <thead class="table-light text-fade">
                                    <tr class="text-dark">
                                        <th style="width: 20px;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck1">
                                                <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Thumbnail</th>
                                        <th>Created By</th>
                                        <th style="width: 125px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for video in videos  %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck8">
                                                    <label class="form-check-label" for="customCheck8">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="text-body fw-500">#
                                                    {% if  forloop.counter > 9%}{{forloop.counter}} {% else %}0{{forloop.counter}}{% endif %}
                                                </a> 
                                            </td>
                                            <td>
                                                {{ video.date_posted|date:"M d, Y" }} <small>{{ video.date_posted|date:"h:i A" }}</small>
                                            </td>
                                            <td>
                                                <p class="mb-0"><span>{{ video.title.title }}</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0">
                                                    <span class="{% if not video.thumbnail %}badge badge-warning-light{% endif %}">
                                                        <i class="mdi {% if not video.thumbnail %}mdi-timer-sand{% else %}mdi-check{% endif %}"></i> 
                                                        {% if  video.thumbnail %}Yes{% else %}No{% endif %}
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0"><span class="badge badge-primary-light">{{ video.created_by }}</span></p>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="action-icon" onclick="navigateToUrl(this)" data-url="{% url 'video-detail' video.id %}"> 
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="action-icon mx-2" data-bs-toggle="modal" data-bs-target="#videoModal" onclick="openModal('{{ video.id }}')"> 
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="action-icon" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="confirmDelete('{{ video.id }}')"> 
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                            {% if videos %}
                                <p class="mt-2 fst-italic text-muted">
                                    Total videos found: {{ videos|length }}
                                </p>
                            {% endif %}
                        </div>
                        {% include 'includes/pagenator-2.html' %}
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- Modal -->
        {% include 'videos/includes/videos_list_modal.html' %}
        
        
        
    </section>
    {% endblock content %}
    
    {% block scripts %}
        {% include 'videos/includes/videos_list_script.html' %}
    {% endblock scripts %}
    
    